In [6]:
bil = 2
bil_desimal = 0.4

aktivitas = 'Saya minum air.'
aktivitas_2 = "Saya minum air."

contoh_kalimat = 'Ibu berkata, "Segera pulang!"'

contoh_kalimat2 = 'O\"niel berkata, "Oke bu"' 

print(type(aktivitas), type(bil), type(bil_desimal))

<class 'str'> <class 'int'> <class 'float'>

In [7]:
print("Kalimat baris1\nKalimat baris2")

Kalimat baris1
Kalimat baris2

In [5]:
array = [2, 3, 4, 5]
print(type(array))


var_dictionary = {"apple": 8000, "orange":7000, "pineapple":10000}
print(type(var_dictionary))

<class 'list'>
<class 'dict'>

In [12]:
aktivitas = "Saya minum air."
print(aktivitas[20])

IndexError: string index out of range

In [13]:
aktivitas[5] = "_"

TypeError: 'str' object does not support item assignment

In [18]:
print(aktivitas[:4] + "_" + aktivitas[5:10] + "_" + aktivitas[11:])

Saya_minum_air.

In [19]:
print(aktivitas.replace(" ", "_"))

Saya_minum_air.

In [20]:
print(aktivitas.replace("minum", "makan"))

Saya makan air.

In [21]:
print(aktivitas.lower())

saya minum air.

In [38]:
kalimat = "Hari ini mahasiswa mengikuti kelas Algoritma Pemrograman dengan materi string"

kalimat.split()

# jumlah kata dalam variabel kalimat
print(len(kalimat))

10

In [42]:
kalimat2 = kalimat.replace(" ", "_")
print(kalimat2)

kalimat2.split(" ")

Hari_ini_mahasiswa_mengikuti_kelas_Algoritma_Pemrograman_dengan_materi_string

['Hari_ini_mahasiswa_mengikuti_kelas_Algoritma_Pemrograman_dengan_materi_string']

In [43]:
words = kalimat2.split("_")
print(words)

['Hari', 'ini', 'mahasiswa', 'mengikuti', 'kelas', 'Algoritma', 'Pemrograman', 'dengan', 'materi', 'string']

In [47]:
";".join(words)

'Hari;ini;mahasiswa;mengikuti;kelas;Algoritma;Pemrograman;dengan;materi;string'

In [49]:
print("ðŸ¤”")

ðŸ¤”

In [50]:
bil = [1, 2, 3, 4, 5]
print(max(bil))

5

In [52]:
contoh_kata = "mengakses"
max(contoh_kata), min(contoh_kata)

('s', 'a')

In [54]:
kata1 = "mengakses"
kata2 = "data"

kata1 + " " + kata2

'mengakses data'

In [56]:
(kata1 + " ") * 5

'mengakses mengakses mengakses mengakses mengakses '

In [57]:
sorted(kata1)

['a', 'e', 'e', 'g', 'k', 'm', 'n', 's', 's']

In [60]:
sorted(kalimat2.split("_"))

['Algoritma',
 'Hari',
 'Pemrograman',
 'dengan',
 'ini',
 'kelas',
 'mahasiswa',
 'materi',
 'mengikuti',
 'string']

In [65]:
# password validator

pass_ = "uabsda213"
pass2 = "1246891"

print(pass_.isalnum())
print(pass_.isalpha())
print(pass2.isdigit())

True
False
True

In [ ]:
# (Dijadikan tugas di assignment-02)
# Buatlah password minimal 8 karakter maksimal 16 karakter
# tersusun atas huruf, angka (minimal 2), dan 
# karakter spesial (minimal 2)

pass1 = "28"
pass2 = "123abc_+"

In [35]:
print('\N{grinning face}')
print('\N{sleeping face}')

ðŸ˜€
ðŸ˜´